.mastery-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.mastery-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    transition: transform 0.3s ease;
}

.mastery-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #c4b07b;
    background: #010a13;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    position: relative;
    z-index: 2;
}

.mastery-icon {
    font-size: 2.5rem;
    color: var(--hex-blue);
    filter: drop-shadow(0 0 5px rgba(10, 200, 185, 0.5));
}

.mastery-info {
    text-align: center;
    margin-top: 15px;
}

.mastery-name {
    display: block;
    font-family: 'Beaufort', serif;
    color: #f0e6d2;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(196, 176, 123, 0.4);
    margin-bottom: 5px;
}

/* --- LE HOVER --- */
.mastery-card {
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.mastery-card:hover .mastery-circle {
    border-color: #f0e6d2;
    box-shadow: 
        0 0 15px rgba(196, 176, 123, 0.6), 
        inset 0 0 20px rgba(10, 200, 185, 0.3);
    transform: scale(1.1) translateY(-5px);
}

.mastery-card:hover .mastery-icon {
    color: #fff;
    filter: drop-shadow(0 0 10px var(--hex-blue));
    transform: rotate(5deg);
}

.mastery-card:hover .mastery-name {
    color: #fff;
    text-shadow: 0 0 8px var(--hex-gold);
    letter-spacing: 3px;
    transition: all 0.3s ease;
}

.mastery-circle, .mastery-icon, .mastery-name {
    transition: all 0.3s ease;
}

.mastery-icon-img {
    width: 35px;
    height: auto;
    filter: sepia(100%) hue-rotate(140deg) brightness(0.8) saturate(500%);
    transition: all 0.3s ease;
}

.mastery-card:hover .mastery-icon-img {
    filter: brightness(1.5) drop-shadow(0 0 10px var(--hex-blue));
    transform: scale(1.1) rotate(5deg);
}